@model SportsStore.WebUI.Models.ProductsListViewModel


@{
    ViewBag.Title = "Products";
}

@foreach (var p in Model.Products)
{
@Html.Partial("ProductSummary", p);

}
    <div class="btn-group pull-right">
      
        @Html.PageLinks(Model.PagingInfo, X => Url.Action("List", new { page = X ,category=Model.currentCategory}))
    </div>


